# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Spore-CustomAssetTypes/.vs/Spore-CustomAssetTypes/v16
/Spore-CustomAssetTypes/Spore-CustomAssetTypes/Debug
/SMFX Projects/AssetTypeTemplate/editor_config~/CoolTest.prop.prop_t
/SMFX Projects/AssetTypeTemplate/CustomAssetTypes/CoolTest.prop.prop_t
/SMFX Projects/AssetTypeTemplate/creature_rigblock~/ce_movement_bird_04.prop.prop_t
/SMFX Projects/AssetTypeTemplate/AssetBrowserFilter/creatures.prop.prop_t
/SMFX Projects/AssetTypeTemplate/AssetBrowserFilter/CoolTest.prop.prop_t
